
.post{
    margin: 3rem 0;
    border:2px solid $border-color;
    box-shadow: 2px 0 8px $shadow-color;
    padding: 10px;
    background-color: $secondary-color;
    &__title{
        padding: 1%;
        font-size: 30px;
        font-weight: 700;
        a{
            color: $title-color;
            text-decoration: none;
        }
    }
    &__info{
        padding: 1%;
        font-size: 20px;
        font-weight: 500;
        &--author{
            margin-right: 40px;
            background: $special-back-color;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
            color:$font-secondary-color;
        }
        &--date{
            color: $font-primary-color;
            border: $border-color solid 2px;
            padding: 10px;
            border-radius: 5px;
                span {
                    font-size: 30px;
                    color: $font-primary-color;
                    margin-right: 10px;
                }
         }   
    }
    &__body{
        padding: 1%;
        font-size: 20px;
        font-weight: 500;
        color: $font-primary-color;
        border: $border-color 2px solid;
        margin-top: 20px;
        border-radius: 5px;
    }
    &__tags{
        display: flex;
        padding: 10px;
        margin-top: 10px;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        &__item{
            padding: 8px;
            border-radius: 5px;
            margin: 10px;
            font-weight: 500;
            background-color: $special-back-color;
            a{
                text-decoration: none;
                color:$font-secondary-color;
            }
        }
    } 
}
