// COLORS:

$primary-color:rgb(226, 194, 152);
$secondary-color:rgba(238, 225, 208, 0.753);
$shadow-color:rgba(0, 0, 0, 0.274);
$border-color:rgba(97, 95, 95, 0.322);
$title-color:rgb(180, 6, 6);
$font-secondary-color:rgb(218, 213, 213);
$font-primary-color:rgb(26, 24, 24);
$special-back-color:rgb(161, 156, 156);